$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-blue:blue;
$color-secondary: #33b5e5;

$color-tertiary :rgb(230, 136, 92);
$color-fourth:rgb(107, 133, 59);

$color-text-light: #eee;
$color-orange:#c0986a;

$width-button: 150px;